<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/sign_up.css">
    <title>Document</title>
</head>

<body>
    <!-- <form action="#" method="post"> -->
    <nav>
        <a href="../index.html">
            TLS project
        </a>
        <a href="./home.html">
            Home
        </a>
        <a href="./upload.html">
            Upload
        </a>
        <a href="">
            Contact
        </a>
    </nav>
    <form id="formLogin" onsubmit="return sendData()" method="POST">
        <h2>Login</h2>
        <p>
            <label for="Email" class="floatLabel">Email</label>
            <input id="email" name="Email" type="text">
        </p>
        <p>
            <label for="password" class="floatLabel">Password</label>
            <input id="password" name="password" type="password">
            <span id="spanID">Enter a password.</span>
        </p>
        <a href="./sign_up.html">Create an account!</a>
        <p>
            <input type="submit" value="Create My Account" id="submit" disabled>
        </p>
    </form>
</body>
<script src="../js/login.js"></script>

</html>