<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/sign_up.css">
    <title>sign up</title>
</head>
<body>
    <nav>
        <a href="../index.html">
            TLS project
        </a>
        <a href="./home.html">
            Home
        </a>
        <a href="./upload.html">
            Upload
        </a>
        <a href="">
            Contact
        </a>
    </nav>
    <!-- <form action="#" method="post"> -->
    <form id="formSignUp" onsubmit="return sendData()">
        <h2>Sign Up</h2>
        <p>
            <label for="Email" class="floatLabel">Email</label>
            <input id="Email" name="Email" type="text">
        </p>
        <p>
            <label for="password" class="floatLabel">Password</label>
            <input id="password" name="password" type="password" required>
            <span>Enter a password longer than 8 characters</span>
        </p>
        <p>
            <label for="confirm_password" class="floatLabel">Confirm Password</label>
            <input id="confirm_password" name="confirm_password" type="password" required>
            <span>Your passwords do not match</span>
        </p>
        <p>
            <input type="submit" value="Create My Account" id="submit" disabled>
        </p>
    </form>
</body>
<script src="../js/signUp.js"></script>
</html>