.grid {
  width: 100%;
  margin-bottom: 20px;
}
.grid > div {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 0px) {
  .grid > .xs-10 {
    width: 10%;
  }
  .grid > .xs-25 {
    width: 25%;
  }
  .grid > .xs-33 {
    width: 33%;
  }
  .grid > .xs-50 {
    width: 50%;
  }
  .grid > .xs-67 {
    width: 67%;
  }
  .grid > .xs-75 {
    width: 75%;
  }
  .grid > .xs-90 {
    width: 90%;
  }
  .grid > .xs-100 {
    width: 100%;
  }
  .grid > div.not-in-xs {
    display: none;
  }
  .grid > div.in-xs {
    display: inherit;
  }
}
@media screen and (min-width: 600px) {
  .grid > .sm-10 {
    width: 10%;
  }
  .grid > .sm-25 {
    width: 25%;
  }
  .grid > .sm-33 {
    width: 33%;
  }
  .grid > .sm-50 {
    width: 50%;
  }
  .grid > .sm-67 {
    width: 67%;
  }
  .grid > .sm-75 {
    width: 75%;
  }
  .grid > .sm-90 {
    width: 90%;
  }
  .grid > .sm-100 {
    width: 100%;
  }
  .grid > div.not-in-sm {
    display: none;
  }
  .grid > div.in-sm {
    display: inherit;
  }
}
@media screen and (min-width: 800px) {
  .grid > .md-10 {
    width: 10%;
  }
  .grid > .md-25 {
    width: 25%;
  }
  .grid > .md-33 {
    width: 33%;
  }
  .grid > .md-50 {
    width: 50%;
  }
  .grid > .md-67 {
    width: 67%;
  }
  .grid > .md-75 {
    width: 75%;
  }
  .grid > .md-90 {
    width: 90%;
  }
  .grid > .md-100 {
    width: 100%;
  }
  .grid > div.not-in-md {
    display: none;
  }
  .grid > div.in-md {
    display: inherit;
  }
}
@media screen and (min-width: 1024px) {
  .grid > .lg-10 {
    width: 10%;
  }
  .grid > .lg-25 {
    width: 25%;
  }
  .grid > .lg-33 {
    width: 33%;
  }
  .grid > .lg-50 {
    width: 50%;
  }
  .grid > .lg-67 {
    width: 67%;
  }
  .grid > .lg-75 {
    width: 75%;
  }
  .grid > .lg-90 {
    width: 90%;
  }
  .grid > .lg-100 {
    width: 100%;
  }
  .grid > div.not-in-lg {
    display: none;
  }
  .grid > div.in-lg {
    display: inherit;
  }
}
@media screen and (min-width: 1280px) {
  .grid > .xl-10 {
    width: 10%;
  }
  .grid > .xl-25 {
    width: 25%;
  }
  .grid > .xl-33 {
    width: 33%;
  }
  .grid > .xl-50 {
    width: 50%;
  }
  .grid > .xl-67 {
    width: 67%;
  }
  .grid > .xl-75 {
    width: 75%;
  }
  .grid > .xl-90 {
    width: 90%;
  }
  .grid > .xl-100 {
    width: 100%;
  }
  .grid > div.not-in-xl {
    display: none;
  }
  .grid > div.in-xl {
    display: inherit;
  }
}

body.dark {
  background-color: black !important;
  color: #f6f4e6 !important;
}
body.dark li {
  background-color: transparent;
  color: blanchedalmond;
}
body.dark .sidenav ul {
  background-color: #272626 !important;
  border-radius: 1px;
}
body.dark ul a {
  color: orange !important;
}
body.dark .first-li {
  background-color: #4c4e52 !important;
  border-radius: 10px;
}
body.dark .first-li:hover {
  background-color: #131111;
  border-radius: 10px;
}
body.dark .sidenav ul li:first-of-type {
  color: #f6f4e6;
}
body.dark nav {
  background-color: #0f3460;
}
body.dark .hero {
  background-color: #272626;
  border-radius: 5px;
}
body.dark button {
  background-color: #00ccff;
  color: white;
  border: solid 1px #00a3cc;
}
body.dark button:hover, body.dark button:focus {
  background-color: #00afdb;
}
body.dark button.primary {
  background-color: orange;
  color: white;
  border: solid 1px #cc8400;
}
body.dark button.secondary {
  background-color: #dd2c00;
  color: white;
  border: solid 1px #aa2200;
}
body.dark button.third {
  background-color: #2F6468;
  color: white;
  border: solid 1px #1f4245;
}

body.forest {
  background-color: #233947 !important;
  color: white !important;
}
body.forest li {
  background-color: transparent;
  color: blanchedalmond;
}
body.forest .sidenav ul {
  background-color: #304b5c !important;
  border-radius: 1px;
}
body.forest ul a {
  color: white !important;
}
body.forest .first-li {
  background-color: #2F6468 !important;
  border-radius: 10px;
}
body.forest .first-li:hover {
  background-color: #131111;
  border-radius: 10px;
}
body.forest .sidenav ul li:first-of-type {
  color: #00327c;
}
body.forest nav {
  background-color: #2F6468;
}
body.forest .hero {
  background-color: #304b5c;
  border-radius: 5px;
}
body.forest button {
  background-color: #2F6468;
  color: white;
  border: solid 1px #1f4245;
}
body.forest button:hover, body.forest button:focus {
  background-color: #244c4f;
}
body.forest button.primary {
  background-color: #ffc93c;
  color: white;
  border: solid 1px #ffbb09;
}
body.forest button.secondary {
  background-color: #dd2c00;
  color: white;
  border: solid 1px #aa2200;
}
body.forest button.third {
  background-color: #318fb5;
  color: white;
  border: solid 1px #266f8d;
}

